<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= user.image %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= user.information %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= user.admin_id %>
  </p>

</div>
